[user]
  name = oosha
  email = oosha.github@gmail.com
[color]
  ui = auto
[core]
  quotepath = false
[alias]
  co = checkout
  lg = log --graph --pretty='%C(bold red)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --all
[merge]
  ff = false
[pull]
  ff = only
[rebase]
  autosquash = true
